:root {
  --clr-1: rgb(2255, 45, 22);
  --clr-2: rgb(255, 255, 219);
  font-size: 62.5%;
  background: var(--clr-1);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 2rem;
  color: var(--clr-2);
}
p {
  padding-top: 0;
  margin-top: -0rem;
  font-size: clamp(1.6rem, 4vw, 2rem);
  text-align: center;
  letter-spacing: 0.1rem;
}
a {
  font-weight: 100;
  color: var(--clr-2);
}

.home-flexWrapper {
  padding-bottom: 1.5rem;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-padding {
  height: 1rem;
}

.logo-wrapper {
  margin: auto;
  margin-top: -3rem;
  width: clamp(16rem, 28%, 23rem);
}
.logo-wrapper > img {
  width: 100%;
}
@media only screen and ((min-aspect-ratio: 2/1) and (max-height: 500px)) {
  p {
    font-size: clamp(1.4rem, 4vw, 1.7rem);
  }
  .logo-wrapper {
    width: 45vh;
  }
}

footer {
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
}
