:root {
  --clr-1: rgb(2255, 45, 22);
  --clr-2: rgb(255, 255, 219);
  font-size: 62.5%;
  background: var(--clr-1);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  color: var(--clr-2);
}

.content-wrapper {
  padding-top: 25vh;
}
.logo-wrapper {
  margin: auto;
  width: clamp(16rem, 28%, 23rem);
}
.logo-wrapper > img {
  width: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
  margin-bottom: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  text-align: center;
}
footer > a {
  color: var(--clr-2);
}
